VITE_PROJECT_NAME=§Superotech Landing Page
VITE_BACKEND_URL=http://localhost:8000/api/
VITE_RECAPTCHA_PUBLIC_KEY=
VITE_PROD_URL=
# Iubenda (Cookie Solution)
VITE_IUBENDA_SITE_ID=3817389
VITE_IUBENDA_COOKIE_POLICY_ID=56377873

# Organization JSON-LD details (used on the homepage)
VITE_COMPANY_EMAIL=
VITE_COMPANY_PHONE=
VITE_COMPANY_SOCIALS=https://youtube.com/@supero.robotics,https://www.linkedin.com/company/supero-gnous-tech-robotics/,https://www.instagram.com/supero.robotics/
VITE_COMPANY_ADDRESS_STREET=Via Giuseppe Sangiorgi, 15
VITE_COMPANY_ADDRESS_CITY=Bari
VITE_COMPANY_ADDRESS_REGION=BA
VITE_COMPANY_ADDRESS_POSTAL_CODE=70124
VITE_COMPANY_ADDRESS_COUNTRY=IT


MODE=# development / production
