VITE_PROJECT_NAME=§Superotech Landing Page
VITE_BACKEND_URL=http://localhost:8000/api/
VITE_RECAPTCHA_PUBLIC_KEY=
VITE_PROD_URL=https://superotech.ai/ 
VITE_IUBENDA_SITE_ID=
VITE_IUBENDA_COOKIE_POLICY_ID=
MODE=# development / production
