# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# URLs
FRONTEND_URL=http://localhost:3000

# Integrations
ZAPIER_WEBHOOK_URL=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
GDPR_LEGAL_VERSION=v1.0

# Salesforce
SF_USERNAME=
SF_PASSWORD=
SF_SECURITY_TOKEN=
