<app-nav-bar></app-nav-bar>
<main>

  <div class="title-container">
    <div class="tag">
      <h3>service</h3>
      <h3>design</h3>
    </div>
    <div class="title">
      <h1>Ho bisogno del Design o Redesign dell’interfaccia del mio software / sito web</h1>
      <h3>Scopriamo insieme perché un buon design dell'interfaccia è cruciale e come posso aiutarti a migliorare la tua presenza digitale.</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/design.webp" alt="">
  </div>
  
  <div class="box-type">
    <div class="title">
      <h6>Partiamo dalle basi</h6>
      <h2>Perché il design dell'interfaccia è importante?</h2>
    </div>

    <div class="box-type-container">
      <div class="type">
        <div class="type-title">
          <span>1.</span>
          <h3>Prima impressione e Branding</h3>
        </div>
        <p>Il design dell'interfaccia è la prima cosa che i tuoi utenti vedono quando accedono al tuo software o sito web. Un design professionale e coerente con il tuo brand aiuta a creare una prima impressione positiva e a rafforzare l'identità del tuo marchio.</p>
      </div>

      <div class="type">
        <div class="type-title">
          <span>2.</span>
          <h3>Esperienza Utente (UX) migliorata</h3>
        </div>
        <p>Un'interfaccia ben progettata migliora significativamente l'esperienza utente. Navigazione intuitiva, layout chiari e elementi visivi accattivanti rendono l'uso del tuo software o sito web più piacevole e efficiente, aumentando la soddisfazione degli utenti.</p>
      </div>

      <div class="type">
        <div class="type-title">
          <span>3.</span>
          <h3>Aumento delle conversioni</h3>
        </div>
        <p>Un design ottimizzato può aumentare le conversioni, che si tratti di vendite, iscrizioni o interazioni. Elementi come call-to-action ben posizionati, percorsi utente chiari e formati di input efficienti contribuiscono a guidare gli utenti verso gli obiettivi desiderati.</p>
      </div>

      <div class="type">
        <div class="type-title">
          <span>4.</span>
          <h3>Accessibilità</h3>
        </div>
        <p>Un buon design dell'interfaccia tiene conto dell'accessibilità, rendendo il tuo software o sito web utilizzabile da tutti, compreso chi ha disabilità. Questo non solo amplia il tuo pubblico, ma dimostra anche il tuo impegno verso l'inclusività.</p>
      </div>

    </div>

  </div>

  <div class="box-type2">
    <div class="title">
      <h6>Partiamo dalle basi</h6>
      <h2>Perché il design dell'interfaccia è importante?</h2>
    </div>

    <div class="box-type2-container">
      <div class="type2">
        <div class="type2-title">
          <span>1.</span>
          <h3>Feedback negativo degli utenti</h3>
        </div>
        <p>Se ricevi feedback negativo riguardo all'usabilità o all'aspetto del tuo software o sito web, potrebbe essere il momento di considerare un redesign. Ascoltare i tuoi utenti e rispondere alle loro esigenze è fondamentale per mantenere una buona relazione con loro.</p>
      </div>

      <div class="type2">
        <div class="type2-title">
          <span>2.</span>
          <h3>Obiettivi di business in evoluzione</h3>
        </div>
        <p>Se i tuoi obiettivi di business sono cambiati o hai introdotto nuovi servizi e funzionalità, un redesign può aiutarti a allineare il design dell'interfaccia con la nuova direzione della tua azienda.</p>
      </div>

      <div class="type2">
        <div class="type2-title">
          <span>3.</span>
          <h3>Tecnologie obsolete</h3>
        </div>
        <p>Le tecnologie e le tendenze di design evolvono rapidamente. Se il tuo sito o software sembra datato o non funziona bene sui dispositivi moderni, un redesign può modernizzarlo e migliorare la compatibilità.</p>
      </div>

      <div class="type2">
        <div class="type2-title">
          <span>4.</span>
          <h3>Scarsa performance</h3>
        </div>
        <p>Se noti che il tuo sito web o software è lento, ha problemi di caricamento o non risponde bene, potrebbe essere necessario un redesign per ottimizzare le performance e migliorare l'esperienza utente.</p>
      </div>

    </div>

  </div>

  <div class="box-main">
    <div class="title">
      <h2>Come posso aiutarti</h2>
      <p>Con la mia vasta esperienza in graphic design, web design e sviluppo, posso offrirti un servizio di design e redesign dell'interfaccia che migliorerà significativamente l'aspetto e la funzionalità del tuo software o sito web. Ecco come posso aiutarti:</p>
    </div>

    <div class="box-container">

      <div class="box" [ngClass]="{'selectedSlide': selectedSlide === 'analisi'}">
        <div class="slider-title">
          <h3 >Analisi e Consulenza</h3>

          <div class="slider-button">
            <span (click)="selectSlide('analisi')">1</span>
          </div>
        </div>

        <div class="slider-image">
          <img src="/assets/design-analisi.jpg" alt="">
        </div>

        <div class="slider-text">
          <p>Inizieremo con un'analisi approfondita del tuo attuale design e delle tue esigenze specifiche. Fornirò una consulenza su misura per identificare le aree di miglioramento e definire gli obiettivi del progetto di redesign.</p>
        </div>


      </div>

      <div class="box" [ngClass]="{'selectedSlide': selectedSlide === 'design'}">

        <div class="slider-title">
          <h3 >Analisi e Consulenza</h3>

          <div class="slider-button" (click)="selectSlide('design')">
            <span>2</span>
          </div>

        </div>

        <div class="slider-image">
          <img src="/assets/design-design.jpg" alt="">
        </div>

        <div class="slider-text">
          <p>Creerò un design UX/UI intuitivo e visivamente accattivante che non solo risponde alle esigenze dei tuoi utenti, ma anche riflette la tua identità di brand. Utilizzerò le migliori pratiche di design per garantire un'interfaccia user-friendly e funzionale.</p>
        </div>

      </div>

      <div class="box" [ngClass]="{'selectedSlide': selectedSlide === 'prototipi'}">

        <div class="slider-title">
          <h3 >Analisi e Consulenza</h3>

          <div class="slider-button" (click)="selectSlide('prototipi')">
            <span>3</span>
          </div>

        </div>

        <div class="slider-image">
          <img src="/assets/design-prototipi.jpg" alt="">
        </div>

        <div class="slider-text">
          <p>Realizzerò prototipi interattivi per testare il nuovo design con utenti reali, raccogliendo feedback e apportando le necessarie modifiche. Questo processo assicura che il design finale sia ottimizzato per la migliore esperienza utente possibile.</p>
        </div>

      </div>

      <div class="box" [ngClass]="{'selectedSlide': selectedSlide === 'sviluppo'}">

        <div class="slider-title">
          <h3 >Analisi e Consulenza</h3>

          <div class="slider-button" (click)="selectSlide('sviluppo')">
            <span>4</span>
          </div>

        </div>

        <div class="slider-image">
          <img src="/assets/design-sviluppo.jpg" alt="">
        </div>

        <div class="slider-text">
          <p>Utilizzerò le più moderne tecnologie di sviluppo per implementare il nuovo design dell'interfaccia. Garantirò che il risultato finale sia responsive, veloce e compatibile con tutti i dispositivi e browser.</p>
        </div>

      </div>

      <div class="box" [ngClass]="{'selectedSlide': selectedSlide === 'supporto'}">
        <div class="slider-title">
          <h3 >Analisi e Consulenza</h3>

          <div class="slider-button" (click)="selectSlide('supporto')">
            <span>5</span>
          </div>
        </div>

        <div class="slider-image">
          <img src="/assets/design-supporto.jpg" alt="">
        </div>

        <div class="slider-text">
          <p>Offrirò supporto continuo e manutenzione per assicurarmi che il tuo sito web o software funzioni sempre al meglio e sia aggiornato con le ultime funzionalità e miglioramenti.</p>
        </div>

      </div>

    </div>

    

  </div>

  <div class="cta-parliamone">
    <p>Un buon design o redesign dell'interfaccia del tuo software o sito web è un investimento che può portare numerosi benefici, dalla migliorata esperienza utente all'aumento delle conversioni. Se sei pronto a fare il prossimo passo e desideri un design dell'interfaccia che elevi la tua presenza digitale, contattami oggi stesso.</p>
    <h3 routerLink="/contacts">Parliamone!</h3>
  </div>

  <app-footer></app-footer>

</main>