<app-nav-bar></app-nav-bar>
<main>

  <div class="title-container">
    <div class="tag">
      <h3>service</h3>
      <h3>seo</h3>
    </div>
    <div class="title">
      <h1>Come farsi trovare su Internet ?</h1>
      <h3>È la domanda che si pongono tutti i brand e le aziende che vogliono essere visibili sui motori di ricerca e aumentare il traffico</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/seo.jpeg" alt="">
  </div>

  <div class="title">
    <h6>Partiamo dalle basi</h6>
    <h2>Cosa è la SEO?</h2>
    <p>SEO sta per "Search Engine Optimization", ovvero l'ottimizzazione per i motori di ricerca. In pratica, si tratta di un insieme di strategie e tecniche che permettono al tuo sito web di apparire tra i primi risultati di ricerca su Google e altri motori di ricerca. Ma perché è così importante? Più alto è il posizionamento del tuo sito, maggiori sono le probabilità che gli utenti lo visitino.</p>
  </div>

  <div class="title">
    <h2>Perchè la SEO è importante per il tuo business?</h2>
    <p>Immagina di avere un negozio in una strada affollata: più persone passano davanti alla tua vetrina, più possibilità hai di attirare clienti. La SEO fa esattamente questo per il tuo sito web. Ti aiuta a ottenere visibilità online, a raggiungere un pubblico più ampio e, in ultima analisi, a incrementare le vendite o i contatti.</p>
  </div>

  <div class="box-main">
    <div class="title">
      <h2>Come funziona la SEO?</h2>
      <p>La SEO può sembrare complicata, ma possiamo suddividerla in alcuni aspetti chiave:</p>
    </div>

    <div class="box-container">

      <div class="box">
        <div class="box-title">
          <h3>Parole chiave</h3>
          <div class="box-icon">
            <img src="../../../assets/icon/1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le parole chiave sono i termini che gli utenti digitano nei motori di ricerca. Identificare le parole chiave giuste è il primo passo per una buona strategia SEO.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Contenuti di qualità</h3>
          <div class="box-icon">
            <img src="../../../assets/icon/2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>I contenuti sono il cuore della SEO. Google premia i siti che offrono informazioni utili, pertinenti e originali. Scrivere articoli, guide e blog che rispondano alle domande dei tuoi clienti è un ottimo modo per migliorare il tuo posizionamento.</p>
        </div>
      </div>

      <div class="box end">
        <div class="box-title">
          <h3>Esperienza Utente (UX)</h3>
          <div class="box-icon">
            <img src="../../../assets/icon/3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Google valuta anche l'esperienza utente del tuo sito. Un sito facile da navigare, con tempi di caricamento rapidi e ottimizzato per dispositivi mobili avrà un ranking migliore.</p>
        </div>
      </div>

      <div class="box conclusion end">
        <div class="box-title">
          <h3>Conclusioni</h3>
          <div class="box-icon">
            <img src="../../../assets/icon/4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>La SEO è un processo continuo che richiede tempo e impegno, ma i risultati possono essere straordinari. Se desideri ulteriori informazioni o hai bisogno di assistenza per migliorare la visibilità del tuo sito web, non esitare a contattarmi. Sarò felice di aiutarti a raggiungere i tuoi obiettivi online.</p>
        </div>
      </div>

    </div>

    

  </div>

  <div class="cta-parliamone">
    <h2>Hai un'idea interessante e vuoi una mano per costruirla?</h2>
    <h3 routerLink="/contacts">Parliamone!</h3>
  </div>

  <app-footer></app-footer>

</main>