<app-nav-bar></app-nav-bar>
<main>

  <div class="title-container">
    <div class="title">
      <h1>Contacts</h1>
      <h3>Vuoi fare una chiamata gratuita per parlare in webcam?</h3>
      <p>Prenota il tuo appuntamento in 3 secondi cliccando sul calendario qui sotto</p>
    </div>
  </div>

  <!-- Calendly inline widget begin -->
  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/altamura-mauro/consulenza-gratuita?primary_color=1b1b1b&text_color=1b1b1b"
    style="min-width:500px; height: 840px;border-radius: 25px;overflow: hidden;">
  </div>
  <script
    type="text/javascript"
    src="https://assets.calendly.com/assets/external/widget.js" async>
  </script>
  <!-- Calendly inline widget end -->


  <div class="cta-parliamone">
    <h2>Vuoi mandarmi una semplice mail?</h2>
    <a href="mailto:altamura.mauro@gmail.com">altamura.mauro&commat;gmail.com</a>
  </div>

  <app-footer></app-footer>

</main>