<app-nav-bar></app-nav-bar>
<main [ngClass]="{'light-mode': DarkLightModeService.mode === true, 'dark-mode': DarkLightModeService.mode === false}">

  <div class="title-container">
    <div class="tag">
      <h3 routerLink="/services">service</h3>
      <h3>web-site</h3>
    </div>
    <div class="title">
      <h1>Perchè è importante avere un sito internet per la mia attività ?</h1>
      <h3>Se stai cercando di capire come un sito web possa fare la differenza per il tuo business, continua a leggere!</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/web-site.jpg" alt="">
  </div>

  <div class="title">
    <h6>Partiamo dalle basi</h6>
    <h2>La vetrina online del tuo business</h2>
    <p>In un mondo sempre più digitale, avere un sito internet è fondamentale. Pensa al tuo sito web come alla vetrina del tuo negozio. È il primo punto di contatto tra te e i tuoi clienti potenziali. Senza una presenza online, rischi di perdere visibilità e opportunità di business.</p>
  </div>

  <div class="box-main">

    <div class="box-container">

      <div class="box">
        <div class="box-title">
          <h3>Visibilità e Accessibilità</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Un sito internet rende la tua attività accessibile 24 ore su 24, 7 giorni su 7. I clienti possono trovare informazioni sui tuoi prodotti o servizi, contattarti e fare acquisti a qualsiasi ora del giorno. Questo aumenta notevolmente le tue possibilità di attirare nuovi clienti e incrementare le vendite.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Credibilità e Professionalità</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Un sito ben progettato trasmette professionalità e credibilità. I clienti si fidano di più di un'azienda che ha una presenza online professionale. Un sito web curato dimostra che sei serio riguardo alla tua attività e che sei al passo con i tempi.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Strumento di marketing</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Il tuo sito internet è uno strumento di marketing potentissimo. Puoi utilizzarlo per:</p>
            <ul>
              <li>Blog e Contenuti</li>
              <li>SEO</li>
              <li>Email Marketing</li>
            </ul>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Raggiungere un pubblico più ampio</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Con un sito web, puoi espandere la tua portata geografica. Non sei più limitato alla tua area locale. Puoi attrarre clienti da tutto il mondo e aprirti a nuovi mercati.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Analisi e Feedback</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-5.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Un sito internet ti permette di raccogliere dati sui tuoi visitatori. Con strumenti come Google Analytics, puoi capire quali pagine sono più visitate, da dove provengono i tuoi visitatori e quali contenuti funzionano meglio. Questo ti aiuta a migliorare continuamente il tuo sito e la tua strategia di marketing.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Supporto ai clienti</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-6.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Un sito internet può offrire supporto ai clienti in vari modi, come FAQ, tutorial, chat dal vivo e moduli di contatto. Questo migliora l'esperienza del cliente e riduce il carico di lavoro del tuo team di supporto.</p>
        </div>
      </div>

      <div class="quote">
        <h2>Costi e Benefici</h2>
        <p>Molti imprenditori sono preoccupati per i costi di creare e mantenere un sito web. Tuttavia, i benefici superano di gran lunga i costi. Un sito ben ottimizzato può generare un ritorno sull'investimento (ROI) significativo attraverso l'incremento delle vendite, la riduzione dei costi di marketing e il miglioramento della gestione delle operazioni.</p>
      </div>

      <div class="box conclusion">
        <div class="box-title">
          <h3>Conclusioni</h3>
          <div class="box-icon">
            <img src="../../../assets/icon/4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Avere un sito internet per la tua attività non è più un optional, ma una necessità. Un sito ben progettato può aumentare la tua visibilità, migliorare la tua credibilità, espandere la tua portata e fungere da potente strumento di marketing.</p>
        </div>
      </div>

      <div class="box conclusion-cta">
        <h4>Se stai pensando di creare o migliorare il tuo sito web, sono qui per aiutarti. Con la mia esperienza in graphic design, web design e sviluppo, posso creare un sito che non solo rappresenti al meglio la tua attività, ma che ti aiuti anche a raggiungere i tuoi obiettivi di business.</h4>
        <h3 routerLink="/contacts">Parliamone!</h3>
      </div>

    </div>

  </div>

  <app-footer></app-footer>

</main>