@import '../../variables';

:host{
  position: relative;
}

.content{
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;

    #logo{
      height: 38px;
      filter: invert(100%);
    }

    #menu{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 30px;

      li{
        padding: 10px 30px;
        border: $normal-border;
        border-radius: 25px;
      }
    }

    #mail{
      background-color: $c-light;
      border-radius: 25px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
}
