<div class="content">
  <img
    src="/assets/Logo.svg"
    alt=""
    id="logo"
    routerLink="/home"
  >
  <ul id="menu">
    <li routerLink="/home"><p>Home</p></li>
    <li routerLink="/services"><p>Services</p></li>
    <li routerLink="/about"><p>About</p></li>
    <li routerLink="/contacts"><p>Contacts</p></li>
    <li class="theme-container">
      <div class="theme light">
        <img src="/assets/icon/light.svg" alt="">
      </div>
      <div class="theme dark">
        <img src="/assets/icon/dark.svg" alt="">
      </div>
    </li>
  </ul>
  <div id="mail">
    <img src="/assets/icon/mail.svg" alt="">
  </div>
</div>