.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}
.light-mode .cta-parliamone a {
  color: var(--c-dark) !important;
}
.light-mode .cta-parliamone a:hover {
  background-color: var(--c-light) !important;
  color: var(--c-dark) !important;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-content {
  max-width: 1320px;
  width: 90vw;
  height: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .main-content .title-container {
  max-width: 860px;
  width: 90vw;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .main-content .title-container .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
main .main-content .title-container .title h1, main .main-content .title-container .title h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
main .main-content .title-container .title h1 {
  text-wrap: balance;
}
main .main-content .title-container .title h3, main .main-content .title-container .title p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
}
main .main-content .title-container .title h3 {
  text-align: center;
}
main .main-content .title-container .title h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
}
main .main-content .title-container .title p {
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
  padding: 0 20px;
}
main .main-content .calendly-inline-widget {
  min-width: 500px;
  height: 840px;
  border-radius: 25px;
  overflow: hidden;
}
main .main-content .cta-parliamone {
  max-width: 860px;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
main .main-content .cta-parliamone h2 {
  margin: 0;
  font-weight: 200;
  font-size: 25px;
}
main .main-content .cta-parliamone a {
  text-decoration: none;
  color: var(--c-light);
  background-color: var(--c-accent);
  border-radius: 25px;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}
main .main-content .cta-parliamone a:hover {
  background-color: var(--c-light);
  color: var(--c-dark);
}

@media (max-width: 767px) {
  main {
    overflow-x: hidden;
  }
  main .calendly-inline-widget {
    min-width: 500px;
    height: 840px;
    border-radius: 25px;
    overflow: hidden;
  }
  main .cta-parliamone {
    width: 100% !important;
    flex-direction: column !important;
  }
  main .cta-parliamone a {
    font-size: 5vw !important;
  }
}
@media (max-width: 560px) {
  main {
    overflow-x: hidden;
  }
  main .calendly-inline-widget {
    min-width: none !important;
    width: auto !important;
    border-radius: 25px;
    overflow: hidden;
  }
}
@media (max-width: 425px) {
  main {
    overflow-x: hidden;
  }
  main .cta-parliamone {
    display: none !important;
  }
}/*# sourceMappingURL=contact.component.css.map */