.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}
.light-mode .main-content #top-container #about #me #me-name #skill li > img {
  filter: invert(1) !important;
}
.light-mode .main-content #top-container #about #mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
}
.light-mode .main-content #top-container #about #mission p {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
.light-mode .main-content #top-container #about #mission p .minus {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5019607843);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.light-mode .main-content #top-container #about #mission #marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: var(--c-dark);
  background-color: var(--c-light);
  padding: 15px 30px;
  border-radius: 25px;
}
.light-mode .main-content #top-container #about #mission #marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
}
.light-mode .main-content #languages-container div.language div.single-language img {
  filter: invert(0.9) !important;
}
.light-mode .main-content #languages-container div.language div.single-language2 img {
  filter: invert(0.9) !important;
}
.light-mode .main-content #services-container .service .service-text .service-cta {
  background-color: var(--c-accent);
}
.light-mode .main-content #services-container .service .service-text .service-cta:hover {
  background-color: var(--c-dark);
}
.light-mode .main-content #services-container .service .service-text .service-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode .main-content #services-container .service.selected .service-text .service-cta > img {
  filter: invert(0) !important;
}
.light-mode .main-content #services-container .service.selected .service-text .service-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode .main-content #services-container .service.selected .service-image img {
  display: none;
}
.light-mode .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
  filter: invert(0) !important;
}
.light-mode .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode .main-content #cta-container #cta1 #game #game2 .single-game h5 {
  color: var(--c-dark);
}
.light-mode .main-content #cta-container #cta1 #game #game2 .single-game .game-cta {
  border: none;
}
.light-mode .main-content #cta-container #cta1 #game #game2 .single-game .game-cta > img {
  filter: invert(1) !important;
}
.light-mode .main-content #cta-container #cta1 #game #game2 .single-game:hover .game-cta > img {
  filter: invert(0) !important;
}
.light-mode .main-content #cta-container #cta1 #game #game2 #carta-alta {
  background-image: url("/assets/carta.webp");
}
.light-mode .main-content #cta-container #cta1 #game #game2 #morra-cinese {
  background-image: url("/assets/morra.webp");
  background-position: bottom;
}
.light-mode .main-content #cta-container #cta2 h3 {
  color: var(--c-dark);
}
.light-mode .main-content #cta-container #cta2 > img {
  filter: invert(1) !important;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-content {
  max-width: 1320px;
  width: 90vw;
  height: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .main-content #cms {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
main .main-content #cms .cms-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
main .main-content #cms .cms-content h3 {
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.2em;
  text-wrap: balance;
}
main .main-content #cms .cms-content h3 span {
  font-style: italic;
  opacity: 0.6;
}
main .main-content #cms .cms-content p {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
main .main-content #cms .nerd-stats-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .main-content #cms .nerd-stats-container .nerd-stats-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  cursor: pointer;
}
main .main-content #cms .nerd-stats-container .nerd-stats-title h4 {
  padding: 0;
  margin: 0;
  color: var(--c-grey);
  font-weight: 100;
  font-size: 1em;
}
main .main-content #cms .nerd-stats-container .nerd-stats-title .nerd-rotate {
  animation: rotate 0.5s ease-in-out forwards;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
main .main-content #cms .nerd-stats-container .nerd-stats-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul {
  background: #292929;
  color: #ffffff;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 20px;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul li {
  opacity: 0.8;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul li p {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul li p:last-child {
  text-align: right;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul .sub-metric {
  padding-left: 15px;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul .light-metrics {
  padding: 0;
  margin-bottom: 15px;
  align-items: center;
}
main .main-content #cms .nerd-stats-container .nerd-stats-content ul .light-metrics img {
  width: 30px;
  height: 30px;
}
main .main-content #top-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main .main-content #top-container #video {
  width: 50%;
  height: 100%;
}
main .main-content #top-container #video video {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
main .main-content #top-container #about {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .main-content #top-container #about #me {
  height: 30%;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: clamp(10px, 3vw, 30px);
}
main .main-content #top-container #about #me > img {
  background-color: var(--c-grey);
  border-radius: 18px;
}
main .main-content #top-container #about #me #me-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main-content #top-container #about #me #me-name h1 {
  margin: 0;
  padding: 0;
  font-size: clamp(12px, 3vw, 32px);
  font-weight: 400;
}
main .main-content #top-container #about #me #me-name ul#skill {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
main .main-content #top-container #about #me #me-name ul#skill li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--c-dark);
  background-color: var(--c-light);
  border-radius: 25px;
  padding: 5px 20px 5px 15px;
}
main .main-content #top-container #about #me #me-name ul#skill li img {
  width: 18px;
  height: 18px;
}
main .main-content #top-container #about #me #me-name ul#skill li h3 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}
main .main-content #top-container #about #mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
}
main .main-content #top-container #about #mission p {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
main .main-content #top-container #about #mission p .minus {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5019607843);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .main-content #top-container #about #mission #marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: var(--c-dark);
  background-color: var(--c-light);
  padding: 15px 30px;
  border-radius: 25px;
}
main .main-content #top-container #about #mission #marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
}
main .main-content #languages-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .main-content #languages-container div.language {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: relative;
}
main .main-content #languages-container div.language .single-language {
  position: absolute;
  bottom: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main .main-content #languages-container div.language .single-language > img {
  height: 50px;
  display: none;
}
main .main-content #languages-container div.language .single-language h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
main .main-content #languages-container div.language:hover .single-language {
  bottom: 15%;
}
main .main-content #languages-container div.language:hover .single-language > img {
  display: block;
}
main .main-content #languages-container div.language:hover .single-language h4 {
  display: none;
}
main .main-content #languages-container div.language .single-language2 {
  position: absolute;
  top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main .main-content #languages-container div.language .single-language2 > img {
  height: 50px;
}
main .main-content #languages-container div.language .single-language2 h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  display: none;
}
main .main-content #languages-container div.language:hover .single-language2 {
  top: 33%;
}
main .main-content #languages-container div.language:hover .single-language2 > img {
  display: none;
}
main .main-content #languages-container div.language:hover .single-language2 h4 {
  display: block;
}
main .main-content #services-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main .main-content #services-container .service {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
main .main-content #services-container .service .service-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .main-content #services-container .service .service-text .service-title {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .main-content #services-container .service .service-text .service-title p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
  text-wrap: balance;
}
main .main-content #services-container .service .service-text .service-title h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
}
main .main-content #services-container .service .service-text .service-cta {
  background-color: var(--c-accent);
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main .main-content #services-container .service .service-text .service-cta > img {
  height: 12px;
}
main .main-content #services-container .service .service-text .service-cta:hover {
  background-color: var(--c-dark);
  border: 1px solid var(--c-light);
}
main .main-content #services-container .service .service-image {
  border-radius: 18px;
  height: 390px;
  width: 100%;
  background-color: var(--c-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .main-content #services-container .service .service-image .service-page-cta h3 {
  margin: 0;
}
main .main-content #services-container .service .service-image .service-image-cta {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
main .main-content #services-container .service .service-image .service-image-cta:hover {
  cursor: pointer;
  transform: scale(1.2);
}
main .main-content #services-container .service.selected {
  background-color: var(--c-light);
  color: var(--c-dark);
}
main .main-content #services-container .service.selected .service-text .service-cta {
  background-color: var(--c-light);
  border: 1px solid var(--c-dark);
  transition: rotate 0.5 ease;
}
main .main-content #services-container .service.selected .service-text .service-cta > img {
  filter: invert(100%);
  rotate: 180deg;
}
main .main-content #services-container .service.selected .service-text .service-cta:hover {
  background-color: var(--c-dark);
}
main .main-content #services-container .service.selected .service-text .service-cta:hover > img {
  filter: invert(0);
}
main .main-content #services-container .service.selected .service-image img {
  display: none;
}
main .main-content #services-container .service.selected .service-image .service-page-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
  color: var(--c-light);
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 5px;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
  width: 80%;
  margin: 0;
  font-weight: 100;
  font-size: 18px;
  text-wrap: balance;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
  background-color: var(--c-accent);
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta:hover {
  background-color: var(--c-dark);
  border: 1px solid var(--c-light);
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
  display: block;
  height: 12px;
  width: 12px;
}
main .main-content #cta-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main .main-content #cta-container #cta1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .main-content #cta-container #cta1 #game {
  width: 100%;
  border: 1px solid var(--c-grey);
  height: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
main .main-content #cta-container #cta1 #game h3, main .main-content #cta-container #cta1 #game h4, main .main-content #cta-container #cta1 #game h5 {
  margin: 0;
  padding: 0;
}
main .main-content #cta-container #cta1 #game h3 {
  font-weight: 400;
  font-size: 32px;
}
main .main-content #cta-container #cta1 #game #game2 {
  height: 160px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .main-content #cta-container #cta1 #game #game2 .single-game {
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  padding: 10px 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-content #cta-container #cta1 #game #game2 .single-game h5 {
  font-weight: 200;
  font-size: 16px;
}
main .main-content #cta-container #cta1 #game #game2 .single-game .game-cta {
  border-radius: 25px;
  border: 1px solid var(--c-light);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-dark);
  cursor: pointer;
}
main .main-content #cta-container #cta1 #game #game2 .single-game:hover {
  cursor: pointer;
  background-size: 120%;
}
main .main-content #cta-container #cta1 #game #game2 .single-game:hover .game-cta {
  background-color: var(--c-accent);
  border: none;
}
main .main-content #cta-container #cta1 #game #game2 #carta-alta {
  background-image: url("/assets/carta.webp");
}
main .main-content #cta-container #cta1 #game #game2 #morra-cinese {
  background-image: url("/assets/morra.webp");
  background-position: bottom;
}
main .main-content #cta-container #cta2 {
  width: 40%;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main .main-content #cta-container #cta2 > img {
  width: 40px;
}
main .main-content #cta-container #cta2 h4, main .main-content #cta-container #cta2 h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
}
main .main-content #cta-container #cta2 h4 {
  font-weight: 100;
}
main .main-content #cta-container #cta2 h3 {
  font-weight: 500;
  color: var(--c-light);
  background-color: var(--c-accent);
  border-radius: 25px;
  padding: 20px 30px;
  cursor: pointer;
}
main .main-content #cta-container #cta2 h3:hover {
  background-color: var(--c-light);
  color: var(--c-dark);
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    overflow-x: hidden;
  }
  main .main-content #top-container {
    flex-direction: column;
    height: 100%;
  }
  main .main-content #top-container #video {
    width: 100%;
    height: 50vh;
  }
  main .main-content #top-container #about {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  main .main-content #top-container #about #me {
    width: 40%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  main .main-content #top-container #about #me > img {
    height: 50%;
  }
  main .main-content #top-container #about #me #me-name {
    gap: 15px;
  }
  main .main-content #top-container #about #me #me-name ul#skill li {
    width: 100%;
  }
  main .main-content #top-container #about #mission {
    width: 60%;
    height: auto;
    gap: inherit;
  }
  main .main-content #top-container #about #mission p {
    font-size: 28px;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    padding: 0 !important;
    gap: 15px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 16px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 10px 20px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
}
@media (max-width: 767px) {
  main {
    overflow-x: hidden;
  }
  main .main-content {
    width: 100vw;
    padding: 120px 10vw;
    gap: 30px;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content {
    flex-direction: column !important;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul {
    width: 100%;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul:last-child {
    margin-top: 20px;
  }
  main .main-content #top-container {
    flex-direction: column;
    height: 100%;
    gap: 30px;
  }
  main .main-content #top-container #video {
    width: 100%;
    height: 40vh;
  }
  main .main-content #top-container #about {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
  }
  main .main-content #top-container #about #me {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  main .main-content #top-container #about #me > img {
    width: 40%;
  }
  main .main-content #top-container #about #me #me-name {
    width: 100%;
    gap: 15px;
  }
  main .main-content #top-container #about #me #me-name h1 {
    font-size: 2em;
  }
  main .main-content #top-container #about #me #me-name ul#skill li h3 {
    font-size: 1em;
  }
  main .main-content #top-container #about #me #me-name ul#skill li img {
    display: none;
  }
  main .main-content #top-container #about #mission {
    width: 100%;
    height: auto;
    gap: inherit;
  }
  main .main-content #top-container #about #mission p {
    font-size: 24px;
    text-wrap: balance;
  }
  main .main-content #top-container #about #mission #marquee-container span {
    font-size: 14px;
  }
  main .main-content #languages-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8%;
  }
  main .main-content #languages-container div.language {
    border: 1px solid var(--c-grey);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46%;
    height: 70px;
    margin-bottom: 8%;
    overflow: hidden;
    position: relative;
  }
  main .main-content #languages-container div.language .single-language {
    position: absolute;
    bottom: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  main .main-content #languages-container div.language .single-language > img {
    height: 50px;
    display: none;
  }
  main .main-content #languages-container div.language .single-language h4 {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
  }
  main .main-content #languages-container div.language:hover .single-language {
    bottom: 15%;
  }
  main .main-content #languages-container div.language:hover .single-language > img {
    display: block;
  }
  main .main-content #languages-container div.language:hover .single-language h4 {
    display: none;
  }
  main .main-content #languages-container div.language .single-language2 {
    position: absolute;
    top: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  main .main-content #languages-container div.language .single-language2 > img {
    height: 50px;
  }
  main .main-content #languages-container div.language .single-language2 h4 {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    display: none;
  }
  main .main-content #languages-container div.language:hover .single-language2 {
    top: 33%;
  }
  main .main-content #languages-container div.language:hover .single-language2 > img {
    display: none;
  }
  main .main-content #languages-container div.language:hover .single-language2 h4 {
    display: block;
  }
  main .main-content #services-container {
    flex-direction: column;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    padding: 0 !important;
    gap: 30px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 20px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 20px 40px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
  main .main-content #cta-container {
    flex-direction: column;
    gap: 30px;
  }
  main .main-content #cta-container #cta1 {
    width: 100%;
    gap: 30px;
  }
  main .main-content #cta-container #cta1 #game {
    width: 100%;
  }
  main .main-content #cta-container #cta1 #game h3 {
    text-wrap: balance;
    text-align: center;
  }
  main .main-content #cta-container #cta1 #game #game2 {
    height: 300px;
    flex-direction: column;
    gap: 30px;
  }
  main .main-content #cta-container #cta1 #game #game2 .single-game {
    height: 100%;
    border-radius: 18px;
    padding: 10px;
  }
  main .main-content #cta-container #cta2 {
    width: 100%;
    border: 1px solid var(--c-grey);
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  main .main-content #cta-container #cta2 > img {
    width: 40px;
  }
  main .main-content #cta-container #cta2 h4, main .main-content #cta-container #cta2 h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  main .main-content #cta-container #cta2 h4 {
    font-weight: 100;
  }
  main .main-content #cta-container #cta2 h3 {
    font-weight: 500;
    color: var(--c-light);
    background-color: var(--c-accent);
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
  }
  main .main-content #cta-container #cta2 h3:hover {
    background-color: var(--c-light);
    color: var(--c-dark);
  }
}
@media (max-width: 540px) {
  main .main-content #cms .nerd-stats-container .nerd-stats-content {
    flex-direction: column !important;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul {
    width: 100%;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul:last-child {
    margin-top: 20px;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul li {
    padding: 10px 0;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul li p {
    max-width: 50%;
    text-wrap: balance;
  }
  main .main-content #cms .nerd-stats-container .nerd-stats-content ul .sub-metric {
    padding: 10px 0;
  }
  main .main-content #top-container #about #me #me-name h1 {
    font-size: 26px;
  }
  main .main-content #top-container #about #me #me-name ul#skill li h3 {
    font-size: 11px;
  }
  main .main-content #top-container #about #me #me-name ul#skill li img {
    display: none;
  }
  main .main-content #top-container #about #mission {
    width: 100%;
    height: auto;
    gap: inherit;
  }
  main .main-content #top-container #about #mission p {
    font-size: 24px;
    text-wrap: balance;
  }
  main .main-content #top-container #about #mission #marquee-container span {
    font-size: 14px;
  }
  main .main-content #services-container {
    flex-direction: column;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    flex-direction: column;
    padding: 0 !important;
    gap: 15px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 16px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 10px 20px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
}/*# sourceMappingURL=home.component.css.map */