.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}
.light-mode #logo {
  filter: invert(0) !important;
}
.light-mode ul#menu li:hover {
  color: var(--c-dark) !important;
  border: 1px solid var(--c-light) !important;
}
.light-mode .theme-container .dark {
  background-color: var(--c-dark) !important;
}
.light-mode .theme-container .dark > img {
  filter: invert(0.1) !important;
}
.light-mode .theme-container .light {
  background-color: var(--c-light) !important;
}
.light-mode .theme-container .light > img {
  filter: invert(0.1) !important;
}
.light-mode #mobile-menu {
  filter: invert(0) !important;
}
.light-mode #mobile-menu img {
  filter: invert(1) !important;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

:host {
  position: relative;
}

.container {
  z-index: 1000;
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  background-color: var(--c-dark);
  display: flex;
  justify-content: center;
}
.container .content {
  max-width: 1320px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.container .content #logo {
  height: 38px;
  filter: invert(100%);
  cursor: pointer;
}
.container .content ul#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.container .content ul#menu li {
  padding: 10px 30px;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
}
.container .content ul#menu li:hover {
  background-color: var(--c-light);
  color: var(--c-dark);
}
.container .content ul#menu li p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container .content ul#menu .theme-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
}
.container .content ul#menu .theme-container .theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 20px;
  height: 20px;
}
.container .content ul#menu .theme-container .theme img {
  width: 80%;
}
.container .content ul#menu .theme-container .dark {
  background-color: var(--c-light);
}
.container .content ul#menu .theme-container .light {
  background-color: var(--c-dark);
}
.container .content #mail {
  background-color: var(--c-light);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container .content #mail:hover {
  background-color: var(--c-accent);
}
.container .content #mail:hover img {
  filter: invert(100%);
}

@media (max-width: 1100px) {
  .container {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    background-color: var(--c-dark);
    display: flex;
    justify-content: center;
  }
  .container .content {
    max-width: 1320px;
    width: 90vw;
    padding: 30px 0;
    position: relative;
  }
  .container .content #logo {
    position: absolute;
    top: 30px;
    height: 38px;
    filter: invert(100%);
    cursor: pointer;
  }
  .container .content ul#menu {
    position: absolute;
    top: 20px;
    right: -10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 30px 20px;
    padding-top: 74px;
    margin: 0;
    background-color: var(--c-light);
    border-radius: 25px;
    width: 50%;
  }
  .container .content ul#menu li {
    color: var(--c-dark);
    padding: 10px 30px;
    border: 1px solid var(--c-grey);
    border-radius: 25px;
    cursor: pointer;
    text-align: right;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .container .content ul#menu li:hover {
    background-color: var(--c-accent);
    color: var(--c-light);
  }
  .container .content ul#menu li p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .container .content ul#menu .theme-container {
    display: none;
  }
  .container .content ul#menu .theme-mobile {
    background-color: var(--c-dark);
    color: var(--c-light);
  }
  .container .content #mail {
    background-color: var(--c-light);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .container .content #mail:hover {
    background-color: var(--c-accent);
  }
  .container .content #mail:hover img {
    filter: invert(100%);
  }
  .container .content #mobile-menu {
    background-color: var(--c-light);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 5px;
  }
  .container .content #mobile-menu:hover {
    background-color: var(--c-accent);
  }
  .container .content #mobile-menu:hover img {
    filter: invert(100%);
  }
}
@media (max-width: 767px) {
  .container {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    background-color: var(--c-dark);
    display: flex;
    justify-content: center;
  }
  .container .content {
    max-width: 1320px;
    width: 80vw;
    padding: 30px 0;
    position: relative;
  }
  .container .content #logo {
    position: absolute;
    top: 30px;
    height: 38px;
    filter: invert(1);
    cursor: pointer;
  }
  .container .content .light-logo {
    border: 1xp solid red;
  }
  .container .content .dark-logo {
    border: 1xp solid green;
  }
  .container .content ul#menu {
    position: absolute;
    top: 20px;
    right: -2vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 30px 20px;
    padding-top: 74px;
    margin: 0;
    background-color: var(--c-light);
    border-radius: 25px;
    width: 84vw;
  }
  .container .content ul#menu li {
    color: var(--c-dark);
    padding: 10px 30px;
    border: 1px solid var(--c-grey);
    border-radius: 25px;
    cursor: pointer;
    text-align: right;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .container .content ul#menu li:hover {
    background-color: var(--c-accent);
    color: var(--c-light);
  }
  .container .content ul#menu li p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .container .content ul#menu .theme-container {
    display: none;
  }
  .container .content ul#menu .theme-mobile {
    background-color: var(--c-dark);
    color: var(--c-light);
  }
  .container .content #mail {
    background-color: var(--c-light);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .container .content #mail:hover {
    background-color: var(--c-accent);
  }
  .container .content #mail:hover img {
    filter: invert(100%);
  }
  .container .content #mobile-menu {
    background-color: var(--c-light);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 5px;
  }
  .container .content #mobile-menu:hover {
    background-color: var(--c-accent);
  }
  .container .content #mobile-menu:hover img {
    filter: invert(100%);
  }
}/*# sourceMappingURL=nav-bar.component.css.map */