:host {
  max-width: 1320px;
}

main {
  height: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main .title-container {
  max-width: 860px;
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .title-container .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
main .title-container .title h1, main .title-container .title h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
main .title-container .title h1 {
  text-wrap: balance;
}
main .title-container .title h3, main .title-container .title p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 20px;
}
main .title-container .title h3 {
  text-align: center;
}
main .title-container .title h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
}
main .title-container .title p {
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
  padding: 0 20px;
}
main #languages-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main #languages-container div.language {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: relative;
}
main #languages-container div.language .single-language {
  position: absolute;
  bottom: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main #languages-container div.language .single-language > img {
  height: 50px;
  display: none;
}
main #languages-container div.language .single-language h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
main #languages-container div.language:hover .single-language {
  bottom: 15%;
}
main #languages-container div.language:hover .single-language > img {
  display: block;
}
main #languages-container div.language:hover .single-language h4 {
  display: none;
}
main #languages-container div.language .single-language2 {
  position: absolute;
  top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main #languages-container div.language .single-language2 > img {
  height: 50px;
}
main #languages-container div.language .single-language2 h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  display: none;
}
main #languages-container div.language:hover .single-language2 {
  top: 33%;
}
main #languages-container div.language:hover .single-language2 > img {
  display: none;
}
main #languages-container div.language:hover .single-language2 h4 {
  display: block;
}
main #services-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main #services-container .service {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main #services-container .service .service-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #services-container .service .service-text .service-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main #services-container .service .service-text .service-title p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
}
main #services-container .service .service-text .service-title h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
}
main #services-container .service .service-text .service-cta {
  background-color: #1b1b1b;
  border: 2px solid #C72086;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main #services-container .service .service-text .service-cta > img {
  height: 12px;
}
main #services-container .service .service-text .service-cta:hover {
  background-color: #C72086;
}
main #services-container .service .service-image {
  border-radius: 18px;
  height: 390px;
  width: 100%;
  background-color: #1b1b1b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main #services-container .service .service-image .service-page-cta h3 {
  margin: 0;
}
main #services-container .service .service-image .service-image-cta {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
main #services-container .service .service-image .service-image-cta:hover {
  cursor: pointer;
  transform: scale(1.2);
}
main #services-container .service.selected {
  background-color: #ffffff;
  color: #1b1b1b;
}
main #services-container .service.selected .service-text .service-cta {
  background-color: #ffffff;
  border: 1px solid #1b1b1b;
  transition: rotate 0.5 ease;
}
main #services-container .service.selected .service-text .service-cta > img {
  filter: invert(100%);
  rotate: 180deg;
}
main #services-container .service.selected .service-text .service-cta:hover {
  background-color: #1b1b1b;
}
main #services-container .service.selected .service-text .service-cta:hover > img {
  filter: invert(0);
}
main #services-container .service.selected .service-image img {
  display: none;
}
main #services-container .service.selected .service-image .service-page-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
  color: #ffffff;
}
main #services-container .service.selected .service-image .service-page-container .service-page-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 5px;
}
main #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
  width: 80%;
  margin: 0;
  font-weight: 100;
  font-size: 18px;
}
main #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
  background-color: #1b1b1b;
  border: 1px solid #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta:hover {
  background-color: #C72086;
  border: none;
}
main #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
  display: block;
  height: 12px;
  width: 12px;
}/*# sourceMappingURL=services.component.css.map */