.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}
.light-mode .service .service-text .service-cta {
  background-color: var(--c-accent);
}
.light-mode .service .service-text .service-cta:hover {
  background-color: var(--c-dark);
}
.light-mode .service .service-text .service-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode .service.selected .service-text .service-cta > img {
  filter: invert(0) !important;
}
.light-mode .service.selected .service-text .service-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode .service.selected .service-image img {
  display: none;
}
.light-mode .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
  filter: invert(0) !important;
}
.light-mode .service.selected .service-image .service-page-container .service-page-cta .page-cta:hover > img {
  filter: invert(1) !important;
}
.light-mode #languages-container div.language div.single-language img {
  filter: invert(0.9) !important;
}
.light-mode #languages-container div.language div.single-language2 img {
  filter: invert(0.9) !important;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-content {
  max-width: 1320px;
  width: 90vw;
  height: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main .main-content .title-container {
  max-width: 860px;
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .main-content .title-container .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
main .main-content .title-container .title h1, main .main-content .title-container .title h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
main .main-content .title-container .title h1 {
  text-wrap: balance;
}
main .main-content .title-container .title h3, main .main-content .title-container .title p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 20px;
  text-wrap: balance;
}
main .main-content .title-container .title h3 {
  text-align: center;
}
main .main-content .title-container .title h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
}
main .main-content .title-container .title p {
  text-align: left;
  text-wrap: balance;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
  padding: 0 20px;
}
main .main-content #languages-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .main-content #languages-container div.language {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: relative;
}
main .main-content #languages-container div.language .single-language {
  position: absolute;
  bottom: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main .main-content #languages-container div.language .single-language > img {
  height: 50px;
  display: none;
}
main .main-content #languages-container div.language .single-language h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
main .main-content #languages-container div.language:hover .single-language {
  bottom: 15%;
}
main .main-content #languages-container div.language:hover .single-language > img {
  display: block;
}
main .main-content #languages-container div.language:hover .single-language h4 {
  display: none;
}
main .main-content #languages-container div.language .single-language2 {
  position: absolute;
  top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}
main .main-content #languages-container div.language .single-language2 > img {
  height: 50px;
}
main .main-content #languages-container div.language .single-language2 h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  display: none;
}
main .main-content #languages-container div.language:hover .single-language2 {
  top: 33%;
}
main .main-content #languages-container div.language:hover .single-language2 > img {
  display: none;
}
main .main-content #languages-container div.language:hover .single-language2 h4 {
  display: block;
}
main .main-content #services-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main .main-content #services-container .service {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
main .main-content #services-container .service .service-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .main-content #services-container .service .service-text .service-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .main-content #services-container .service .service-text .service-title p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
  text-wrap: balance;
}
main .main-content #services-container .service .service-text .service-title h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
}
main .main-content #services-container .service .service-text .service-cta {
  background-color: var(--c-accent);
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main .main-content #services-container .service .service-text .service-cta > img {
  height: 12px;
}
main .main-content #services-container .service .service-text .service-cta:hover {
  background-color: var(--c-dark);
  border: 1px solid var(--c-light);
}
main .main-content #services-container .service .service-image {
  border-radius: 18px;
  height: 390px;
  width: 100%;
  background-color: var(--c-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .main-content #services-container .service .service-image .service-page-cta h3 {
  margin: 0;
  cursor: pointer;
}
main .main-content #services-container .service .service-image .service-image-cta {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
main .main-content #services-container .service .service-image .service-image-cta:hover {
  cursor: pointer;
  transform: scale(1.2);
}
main .main-content #services-container .service.selected {
  background-color: var(--c-light);
  color: var(--c-dark);
}
main .main-content #services-container .service.selected .service-text .service-cta {
  background-color: var(--c-light);
  border: 1px solid var(--c-dark);
  transition: rotate 0.5 ease;
}
main .main-content #services-container .service.selected .service-text .service-cta > img {
  filter: invert(100%);
  rotate: 180deg;
}
main .main-content #services-container .service.selected .service-text .service-cta:hover {
  background-color: var(--c-dark);
}
main .main-content #services-container .service.selected .service-text .service-cta:hover > img {
  filter: invert(0);
}
main .main-content #services-container .service.selected .service-image img {
  display: none;
}
main .main-content #services-container .service.selected .service-image .service-page-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
  color: var(--c-light);
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 5px;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
  width: 80%;
  margin: 0;
  font-weight: 100;
  font-size: 16px;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
  background-color: var(--c-accent);
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta:hover {
  background-color: var(--c-dark);
  border: 1px solid var(--c-light);
}
main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
  display: block;
  height: 12px;
  width: 12px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    overflow-x: hidden;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    padding: 0 !important;
    gap: 15px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 16px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
}
@media (max-width: 767px) {
  main {
    overflow-x: hidden;
  }
  main .main-content {
    width: 100vw;
    padding: 120px 10vw;
    gap: 30px;
  }
  main .main-content #services-container {
    flex-direction: column;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    padding: 0 !important;
    gap: 30px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 20px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 20px 40px;
    cursor: pointer;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
}
@media (max-width: 540px) {
  main .main-content #services-container {
    flex-direction: column;
  }
  main .main-content #services-container .service.selected .service-image {
    background-color: var(--c-light) !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container {
    flex-direction: column;
    padding: 0 !important;
    gap: 15px !important;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta {
    display: flex;
    width: 120%;
    gap: 0;
    padding: 0 5px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta h3 {
    background-color: var(--c-dark);
    font-size: 16px;
    border: 1px solid var(--c-dark);
    border-radius: 15px;
    padding: 10px 20px;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta {
    display: none;
    width: 0;
    height: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta .page-cta > img {
    display: none;
    height: 0;
    width: 0;
  }
  main .main-content #services-container .service.selected .service-image .service-page-container .service-page-cta:hover h3 {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent);
  }
}/*# sourceMappingURL=services.component.css.map */