.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}
.light-mode .weather-location .city > div {
  border-top: 1px solid var(--c-light) !important;
  color: var(--c-light) !important;
}
.light-mode .weather-location .city > div:hover {
  border-top: 1px solid var(--c-accent) !important;
}
.light-mode .weather-info .other-info img {
  filter: invert(1) !important;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

p, h3, h2 {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  gap: 5%;
}
.container .weather-icon {
  width: 15%;
}
.container .weather-location {
  width: 30%;
  text-align: left;
  margin: 15px 0;
}
.container .weather-location .time {
  padding: 5px;
}
.container .weather-location .city input {
  width: 100%;
  background: none;
  border: none;
  padding: 5px;
  font-size: 24px;
  color: var(--c-light);
  text-transform: capitalize;
}
.container .weather-location .city input:focus-visible {
  outline: none;
}
.container .weather-location .city > div {
  padding: 5px 6px;
  border-top: 1px solid var(--c-grey);
  width: 100%;
  color: var(--c-grey);
  opacity: 0.5;
  cursor: pointer;
}
.container .weather-location .city > div:hover {
  opacity: 1;
  border-top: 1px solid var(--c-accent);
}
.container .weather-location .city .wrong-city {
  color: red;
}
.container .weather-info {
  width: 55%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.container .weather-info .temperature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .weather-info .temperature h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 5px;
}
.container .weather-info .temperature h2 span {
  font-size: 20px;
  vertical-align: super;
}
.container .weather-info .temperature h3 {
  text-transform: capitalize;
  margin: 2px 0;
  text-wrap: balance;
  text-align: center;
}
.container .weather-info .temperature p {
  text-align: center;
}
.container .weather-info .other-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .weather-info .other-info h3 {
  text-transform: capitalize;
  margin: 2px 0;
}
.container .weather-info .other-info img {
  margin-bottom: 18px;
  width: 40%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 10%;
  }
  .container .weather-icon {
    width: 25%;
  }
  .container .weather-location {
    width: 60%;
    text-align: left;
    margin: 15px 0;
  }
  .container .weather-location .time {
    padding: 5px;
  }
  .container .weather-location .city input {
    width: 100%;
    background: none;
    border: none;
    padding: 5px;
    font-size: 24px;
    color: var(--c-light);
    text-transform: capitalize;
  }
  .container .weather-location .city input:focus-visible {
    outline: none;
  }
  .container .weather-location .city > div {
    padding: 5px 6px;
    border-top: 1px solid var(--c-grey);
    width: 100%;
    color: var(--c-grey);
    opacity: 0.5;
    cursor: pointer;
  }
  .container .weather-location .city > div:hover {
    opacity: 1;
    border-top: 1px solid var(--c-accent);
  }
  .container .weather-location .city .wrong-city {
    color: red;
  }
  .container .weather-info {
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
  }
  .container .weather-info .temperature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .weather-info .temperature h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .container .weather-info .temperature h2 span {
    font-size: 20px;
    vertical-align: super;
  }
  .container .weather-info .temperature h3 {
    text-transform: capitalize;
    margin: 2px 0;
    text-wrap: balance;
    text-align: center;
  }
  .container .weather-info .other-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .container .weather-info .other-info h3 {
    text-transform: capitalize;
    margin: 2px 0;
  }
  .container .weather-info .other-info img {
    margin-bottom: 18px;
    width: 20%;
  }
}
@media (max-width: 767px) {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .container .weather-icon {
    width: 40%;
  }
  .container .weather-location {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .container .weather-location .time {
    padding: 5px;
  }
  .container .weather-location .city input {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    padding: 5px;
    font-size: 24px;
    color: var(--c-light);
    text-transform: capitalize;
  }
  .container .weather-location .city input:focus-visible {
    outline: none;
  }
  .container .weather-location .city > div {
    padding: 5px 6px;
    border-top: 1px solid var(--c-grey);
    width: 100%;
    color: var(--c-grey);
    opacity: 0.5;
    cursor: pointer;
  }
  .container .weather-location .city > div:hover {
    opacity: 1;
    border-top: 1px solid var(--c-accent);
  }
  .container .weather-location .city .wrong-city {
    color: red;
  }
  .container .weather-info {
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .container .weather-info .temperature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .weather-info .temperature h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .container .weather-info .temperature h2 span {
    font-size: 20px;
    vertical-align: super;
  }
  .container .weather-info .temperature h3 {
    text-transform: capitalize;
    margin: 2px 0;
    text-wrap: balance;
    text-align: center;
  }
  .container .weather-info .other-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .container .weather-info .other-info h3 {
    text-transform: capitalize;
    margin: 2px 0;
  }
  .container .weather-info .other-info img {
    margin-bottom: 18px;
    width: 30%;
  }
}/*# sourceMappingURL=weather.component.css.map */