.light-mode {
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

.dark-mode {
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

main {
  max-width: 860px;
  height: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
main .image {
  max-height: 860px;
}
main .image > img {
  max-width: 860px;
  border-radius: 25px;
}
main .title-container {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .title-container .tag {
  display: flex;
  flex-direction: row;
  gap: 0;
}
main .title-container .tag h3 {
  color: var(--c-dark);
  margin: 0;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--c-light);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
main .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  text-wrap: balance;
}
main .title h1, main .title h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
main .title h3, main .title p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 20px;
}
main .title h3 {
  text-align: center;
}
main .title h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
}
main .title p {
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}
main .box-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .box-main .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4%;
}
main .box-main .box-container .end {
  margin-bottom: 0 !important;
}
main .box-main .box-container .face-title {
  width: 100%;
  margin-top: 50px;
  padding-left: 30px;
}
main .box-main .box-container .face-title h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 32px;
}
main .box-main .box-container .help-title {
  padding-left: 0 !important;
}
main .box-main .box-container .help-title h2 {
  text-align: center;
}
main .box-main .box-container .help-title p {
  margin: 0;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color: var(--c-light);
  color: var(--c-dark);
  border-radius: 25px;
  text-align: center;
}
main .box-main .box-container .box-image {
  overflow: hidden;
  padding: 0 !important;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
main .box-main .box-container .box-image > img {
  width: 100%;
}
main .box-main .box-container .box {
  min-height: 250px;
  width: 48%;
  margin-bottom: 4%;
  flex-wrap: nowrap;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .box-main .box-container .box .box-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .box-main .box-container .box .box-title h3 {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  width: 80%;
}
main .box-main .box-container .box .box-title .box-icon {
  background-color: var(--c-light);
  border-radius: 10px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .box-main .box-container .box .box-title .box-icon img {
  width: 24px;
}
main .box-main .box-container .box .box-content p {
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
main .box-main .box-container .conclusion {
  background-color: var(--c-light);
  color: var(--c-dark);
}
main .box-main .box-container .conclusion .box-icon {
  background-color: var(--c-dark) !important;
}
main .box-main .box-container .box-ex-container {
  width: 100%;
  min-height: 500px;
  padding: 30px;
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
main .box-main .box-container .box-ex-container .box-ex-image {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 65%;
  overflow: hidden;
  height: 440px;
}
main .box-main .box-container .box-ex-container .box-ex-image img {
  width: 100%;
  object-fit: contain;
}
main .box-main .box-container .box-ex-container .image1 {
  background-color: #D0DFFF;
}
main .box-main .box-container .box-ex-container .image2 {
  background-color: #E77269;
}
main .box-main .box-container .box-ex-container .image3 {
  background-color: #00133B;
}
main .box-main .box-container .box-ex-container .image4 {
  background-color: #E5EBFB;
}
main .box-main .box-container .box-ex-container .box-ex {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .box-main .box-container .box-ex-container .box-ex .box-ex-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .box-main .box-container .box-ex-container .box-ex .box-ex-content h3 {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
main .box-main .box-container .box-ex-container .box-ex .box-ex-content p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
main .cta-parliamone {
  border: 1px solid var(--c-grey);
  border-radius: 25px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
main .cta-parliamone p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-wrap: balance;
}
main .cta-parliamone h3 {
  color: var(--c-dark);
  background-color: var(--c-light);
  border-radius: 25px;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}
main .cta-parliamone h3:hover {
  background-color: var(--c-accent);
  color: var(--c-light);
}/*# sourceMappingURL=web-app.component.css.map */