:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

main {
  max-width: 860px;
  height: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
main .image {
  max-height: 860px;
}
main .image > img {
  max-width: 860px;
  border-radius: 25px;
}
main .title-container {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .title-container .tag {
  display: flex;
  flex-direction: row;
  gap: 0;
}
main .title-container .tag h3 {
  color: #1b1b1b;
  margin: 0;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
main .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
main .title h1, main .title h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}
main .title h3, main .title p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 20px;
}
main .title h3 {
  text-align: center;
}
main .title h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
}
main .title p {
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}
main .box-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .box-main .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4%;
}
main .box-main .box-container .box {
  height: 250px;
  width: 48%;
  margin-bottom: 4%;
  flex-wrap: nowrap;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .box-main .box-container .box:hover {
  border: 1px solid #C72086;
}
main .box-main .box-container .box .box-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .box-main .box-container .box .box-title h3 {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  width: 80%;
}
main .box-main .box-container .box .box-title .box-icon {
  background-color: #ffffff;
  border-radius: 10px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .box-main .box-container .box .box-content p {
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
main .box-main .box-container .quote {
  padding-left: 30px;
  border-left: 3px solid #ffffff;
  margin: 20px 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .box-main .box-container .quote h2 {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
main .box-main .box-container .quote p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
}
main .box-main .box-container .conclusion {
  background-color: #ffffff;
  color: #1b1b1b;
}
main .box-main .box-container .conclusion .box-icon {
  background-color: #1b1b1b !important;
}
main .box-main .box-container .conclusion-cta h4 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
main .box-main .box-container .conclusion-cta h3 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 20px 30px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
}
main .box-main .box-container .conclusion-cta h3:hover {
  background-color: #C72086;
  color: #ffffff;
  border: none;
}
main .cta-parliamone {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
main .cta-parliamone h2 {
  margin: 0;
  font-weight: 200;
  font-size: 25px;
}
main .cta-parliamone h3 {
  color: #1b1b1b;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}
main .cta-parliamone h3:hover {
  background-color: #C72086;
  color: #ffffff;
}/*# sourceMappingURL=web.component.css.map */