@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Hubot Sans";
    src: url("./assets/fonts/Hubot-Sans.ttf");
    font-weight: 1 999;

    font-style: normal;
}

* {
    font-family: "Hubot Sans", sans-serif;
    font-feature-settings: "ss01" 1;
    /* font-feature-settings: 'ss01' on, 'liga' off; */
}

/* "wdth" 125, "wght" 900, */


.font-stretch-80 {
    font-stretch: 80%;
}

.font-stretch-125 {
    font-stretch: 125%;
}