@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Hubot Sans";
    src: url("./assets/fonts/Hubot-Sans.ttf");
    font-weight: 1 999;

    font-style: normal;
}

* {
    font-family: "Hubot Sans", sans-serif;
    font-feature-settings: "ss01" 1;
    /* font-feature-settings: 'ss01' on, 'liga' off; */
}

/* "wdth" 125, "wght" 900, */


.font-stretch-80 {
    font-stretch: 80%;
}

.font-stretch-125 {
    font-stretch: 125%;
}

@layer components {
    .title {
        @apply font-bold text-[50px] xl:text-[80px] text-white leading-[90%];
        font-stretch: 90%;
    }

    .title-xs {
        @apply font-bold text-[24px] xl:text-[30px] text-white leading-[90%];
        font-stretch: 90%;


    }

    .text-body-l {
        @apply text-white text-[16px] leading-[155%] xl:text-[18px] xl:leading-[135%];
        font-stretch: 100%;
    }

    .text-body-m {
        @apply text-white text-[14px] leading-[155%] xl:text-[16px] xl:leading-[135%];
        font-stretch: 100%;
    }

    .text-body-s {
        @apply text-white text-[12px] leading-[155%] xl:text-[14px] xl:leading-[135%];
        font-stretch: 100%;
    }
}


html,
body {
    scroll-behavior: smooth;
}


.bg-typ {
    background-image: url("./assets/images/typ.png"), linear-gradient(90deg, #626271, #2e2e33);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.video-scroll-container {

    height: 400vh;
    position: relative;
}

.video-fixed-wrapper {

    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}