<app-nav-bar></app-nav-bar>
<main [ngClass]="{'light-mode': DarkLightModeService.mode === true, 'dark-mode': DarkLightModeService.mode === false}">

  <div class="title-container">
    <div class="tag">
      <h3>service</h3>
      <h3>web-app</h3>
    </div>
    <div class="title">
      <h1>Voglio una Web App<br>personalizzata per la tua attività</h1>
      <h3>Che tu gestisca un ristorante, un barbiere o qualsiasi altro tipo di business, una web app può offrire soluzioni su misura per le tue esigenze. Scopriamo insieme come e perché potrebbe essere la scelta giusta per te.</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/web-app.jpg" alt="">
  </div>

  <div class="title">
    <h6>Partiamo dalle basi</h6>
    <h2>Cosa è una Web App?</h2>
    <p>Una web app è un'applicazione accessibile via web, progettata per svolgere compiti specifici. A differenza dei siti web tradizionali, le web app sono interattive e offrono funzionalità avanzate, simili a quelle di un software installato localmente. Esempi comuni includono menu digitali per ristoranti, sistemi di prenotazione online e software di gestione degli appuntamenti.</p>
  </div>

  <div class="title">
    <h2>Perché considerare una Web App personalizzata?</h2>
  </div>

  <div class="box-main">

    <div class="box-container">

      <div class="box box-image">
        <img src="/assets/web-app-1.jpg" alt="">
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Soluzioni su misura per le tue esigenze</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una web app personalizzata è progettata specificamente per soddisfare le esigenze uniche della tua attività. Ad esempio, un ristorante può beneficiare di un menu digitale che permette ai clienti di ordinare direttamente dai loro smartphone, mentre un barbiere può utilizzare un sistema di prenotazione online per gestire gli appuntamenti in modo più efficiente.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Miglioramento dell'efficienza operativa</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le web app automatizzano molti processi manuali, riducendo il carico di lavoro e minimizzando gli errori. Un software di gestione degli appuntamenti, ad esempio, può inviare promemoria automatici ai clienti, riducendo le mancate presentazioni e ottimizzando il tempo.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Accessibilità e Convenienza</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Essendo accessibili via web, le web app possono essere utilizzate da qualsiasi dispositivo con una connessione internet. Questo significa che sia tu che i tuoi clienti potete accedere alle funzionalità della tua web app ovunque vi troviate, rendendo il servizio più comodo e flessibile.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Esperienza utente migliorata</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una web app ben progettata offre un'esperienza utente fluida e intuitiva. Elementi di design UX/UI avanzati possono rendere l'interazione con l'app più piacevole e semplice, migliorando la soddisfazione del cliente e incentivando l'uso continuo.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Personalizzazione e Scalabilità</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le web app personalizzate possono essere sviluppate con funzionalità specifiche per il tuo business e possono essere scalate man mano che la tua attività cresce. Questo ti permette di aggiungere nuove funzionalità e adattare l'app alle esigenze in evoluzione del mercato.</p>
        </div>
      </div>

    </div>

    <div class="title">
      <h2>Perché considerare una Web App personalizzata?</h2>
    </div>

    <div class="box-container">
      <div class="face-title">
        <h2>Ristoranti</h2>
      </div>

      <div class="box-ex-container">
        <div class="box-ex-image image1">
          <img src="/assets/web-app-ristoranti.jpg" alt="">
        </div>
        
        <div class="box-ex">
          <div class="box-ex-content">
            <h3>Menu digitale interattivo</h3>
            <p>Consenti ai clienti di visualizzare il menu, ordinare online e pagare direttamente dal loro dispositivo.</p>
          </div>

          <div class="box-ex-content">
            <h3>Sistema di prenotazione</h3>
            <p>Gestisci le prenotazioni dei tavoli in modo efficiente, con notifiche automatiche per i clienti.</p>
          </div>

        </div>

      </div>

    </div>

    <div class="box-container">
      <div class="face-title">
        <h2>Barbieri e Saloni di bellezza</h2>
      </div>

      <div class="box-ex-container">
        <div class="box-ex-image image2">
          <img src="/assets/web-app-barbieri.jpg" alt="">
        </div>
        
        <div class="box-ex">
          <div class="box-ex-content">
            <h3>Gestione degli appuntamenti</h3>
            <p>Un sistema di prenotazione online che consente ai clienti di fissare appuntamenti, ricevere promemoria e persino effettuare pagamenti anticipati.</p>
          </div>

          <div class="box-ex-content">
            <h3>Programmi di fedeltà</h3>
            <p>Offri programmi di fedeltà digitali per premiare i clienti abituali.</p>
          </div>

        </div>

      </div>

    </div>

    <div class="box-container">
      <div class="face-title">
        <h2>Palestra e Centri fitness</h2>
      </div>

      <div class="box-ex-container">
        <div class="box-ex-image image3">
          <img src="/assets/web-app-palestra.jpg" alt="">
        </div>
        
        <div class="box-ex">
          <div class="box-ex-content">
            <h3>Prenotazione delle lezioni</h3>
            <p>Permetti ai membri di prenotare lezioni di fitness e sessioni di allenamento personalizzate.</p>
          </div>

          <div class="box-ex-content">
            <h3>Monitoraggio delle attività</h3>
            <p>Una web app che traccia i progressi dei membri e fornisce consigli personalizzati.</p>
          </div>

        </div>

      </div>

    </div>

    <div class="box-container">
      <div class="face-title">
        <h2>Negozio di vendita al dettaglio</h2>
      </div>

      <div class="box-ex-container">
        <div class="box-ex-image image4">
          <img src="/assets/web-app-negozio.jpg" alt="">
        </div>
        
        <div class="box-ex">
          <div class="box-ex-content">
            <h3>E-Commerce personalizzato</h3>
            <p>Un negozio online su misura con funzionalità avanzate come suggerimenti di prodotti, carrelli della spesa personalizzati e opzioni di pagamento sicure.</p>
          </div>

          <div class="box-ex-content">
            <h3>Gestione dell’inventario</h3>
            <p>Automatizza la gestione dell'inventario con aggiornamenti in tempo reale.</p>
          </div>

        </div>

      </div>

    </div>

    <div class="box-container">

      <div class="face-title help-title">
        <h2>Come Posso Aiutarti</h2>
        <p>Con la mia vasta esperienza in graphic design, web design e sviluppo, posso creare una web app personalizzata che risponda perfettamente alle esigenze della tua attività. Ecco come posso aiutarti:</p>
      </div>

      <div class="box box-image">
        <img src="/assets/web-app-aiuto.jpg" alt="">
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Consulenza Personalizzata</h3>
          <div class="box-icon">
            <img src="/assets/icon/6-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Analizzerò le tue esigenze specifiche e ti fornirò una consulenza su misura per determinare le funzionalità più adatte alla tua web app.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Design UI/UX</h3>
          <div class="box-icon">
            <img src="/assets/icon/5-4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Creerò un design intuitivo e accattivante che garantisca un'ottima esperienza utente, rendendo la tua app facile da usare e visivamente piacevole.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Sviluppo su misura</h3>
          <div class="box-icon">
            <img src="/assets/icon/6-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Utilizzerò le più moderne tecnologie di sviluppo per creare una web app robusta, scalabile e sicura, che possa crescere insieme alla tua attività.</p>
        </div>
      </div>

      <div class="box end">
        <div class="box-title">
          <h3>Supporto continuo</h3>
          <div class="box-icon">
            <img src="/assets/icon/6-4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Offrirò supporto continuo e manutenzione per assicurarmi che la tua web app funzioni sempre al meglio e sia aggiornata con le ultime funzionalità.</p>
        </div>
      </div>

      <div class="box conclusion end">
        <div class="box-title">
          <h3>Conclusioni</h3>
          <div class="box-icon">
            <img src="/assets/icon/4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una web app personalizzata può trasformare il modo in cui gestisci la tua attività, migliorando l'efficienza operativa, l'accessibilità e l'esperienza utente. Se sei pronto a fare il prossimo passo e desideri una web app su misura per la tua attività, contattami oggi stesso.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="cta-parliamone">
    <p> Con la mia combinazione di competenze in graphic design, web design e sviluppo, posso creare una soluzione che ti aiuti a raggiungere i tuoi obiettivi di business e a offrire un servizio eccezionale ai tuoi clienti.</p>
    <h3 routerLink="/contacts">Parliamone!</h3>
  </div>

  <app-footer></app-footer>

</main>