.light-mode{
  --c-dark: #ffffff;
  --c-light: #1b1b1b;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;

  .main-content{

    #top-container{  
      #about{  
        #me{
          #me-name{
            #skill{
              li{
                >img{
                  filter: invert(1) !important;
                }
              }
            }
          }
        }
  
        #mission{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px;
          border: 1px solid var(--c-grey);
          border-radius: 25px;
  
          p{
            margin: 0;
            font-weight: 400;
            font-size: 32px;
  
            .minus{
              font-weight: 300;
              color: #ffffff80;
            }
          }
  
          @keyframes marquee {
            0%    { transform: translateX(0%) }
            100%  { transform: translateX(-100%) }
          }
          #marquee-container{
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            color: var(--c-dark);
            background-color: var(--c-light);
            padding: 15px 30px;
            border-radius: 25px;
          }
          #marquee-content{
            display: inline-block;
            padding-left: 100%;
            animation: marquee 40s linear infinite;
          }
        }
      }
      
    }

    #languages-container{
      div.language{
        div.single-language{
          img{
            filter: invert(.9) !important;
          }
        }

        div.single-language2{
          img{
            filter: invert(.9) !important;
          }
        }
      }
    }

    #services-container{
      .service{
        .service-text{
          .service-cta{
            background-color: var(--c-accent);
  
            &:hover{
              background-color: var(--c-dark);

              >img{
                filter: invert(1) !important;
              }
            }
          }
        }
  
        &.selected{
          .service-text{
            .service-cta{    
              >img{
                filter: invert(0) !important;
              }
    
              &:hover{
                >img{
                  filter: invert(1) !important;
                }
              }
            }          
          }
  
          .service-image{
            img{
              display: none;
            }
  
            .service-page-container{
              .service-page-cta{
                .page-cta{
                  >img{
                    filter: invert(0) !important;
                  }

                  &:hover{
                    >img{
                      filter: invert(1) !important;
                    }
                  }
                }
              }
            }
          }
  
        }
  
      }
    }

    #cta-container{  
      #cta1{  
        #game{  
          #game2{  
            .single-game{  
              h5{
                color: var(--c-dark);
              }
    
              .game-cta{
                border: none;

                >img{
                  filter: invert(1) !important;
                }
  
              }

              &:hover{
                .game-cta{
                  >img{
                    filter: invert(0) !important;
                  }
                }
              }
  
            }
  
            #carta-alta{
              background-image: url('/assets/carta.webp');
            }
            #morra-cinese{
              background-image: url('/assets/morra.webp');
              background-position: bottom;
            }
          }
        }
      }
  
      #cta2{

        h3{
          color: var(--c-dark);
        }

        >img{
          filter: invert(1) !important;
        }
  
      }
    }

  }
}

.dark-mode{
  --c-dark: #1b1b1b;
  --c-light: #ffffff;
  --c-grey: #d9d9d9;
  --c-accent: #C72086;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;

  .main-content{
    max-width: 1320px;
    width: 90vw;
    height: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;

    #top-container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    #video{
      width: 50%;
      height: 100%;

      video{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
    }

    #about{
      width: 48.5%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      #me{
        height: 30%;
        border: 1px solid var(--c-grey);
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: clamp(10px, 3vw, 30px);

        >img{
          background-color: var(--c-grey);
          border-radius: 18px;
        }

        #me-name{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1{
            margin: 0;
            padding: 0;
            font-size: clamp(12px, 3vw, 32px);
            font-weight: 400;
          }

          ul#skill{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            li{
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;
              color: var(--c-dark);
              background-color: var(--c-light);
              border-radius: 25px;
              padding: 5px 20px 5px 15px;

              img{
                width: 18px;
                height: 18px;
              }

              h3{
                font-size: 12px;
                font-weight: 700;
                margin: 0;
              }
            }
          }
        }
      }

      #mission{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        border: 1px solid var(--c-grey);
        border-radius: 25px;

        p{
          margin: 0;
          font-weight: 400;
          font-size: 32px;

          .minus{
            font-weight: 300;
            color: #ffffff80;
          }
        }

        @keyframes marquee {
          0%    { transform: translateX(0%) }
          100%  { transform: translateX(-100%) }
        }
        #marquee-container{
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          color: var(--c-dark);
          background-color: var(--c-light);
          padding: 15px 30px;
          border-radius: 25px;
        }
        #marquee-content{
          display: inline-block;
          padding-left: 100%;
          animation: marquee 40s linear infinite;
        }
      }
    }
    
    }

    #languages-container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    div.language{
      border: 1px solid var(--c-grey);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70px;
      overflow: hidden;
      position: relative;
      
      .single-language{
        position: absolute;
        bottom: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;

        >img{
          height: 50px;
          display: none;
        }
  
        h4{
          font-size: 20px;
          font-weight: 100;
          margin: 0;
        }
      }

      &:hover .single-language{
        bottom: 15%;
        
        >img {
          display: block;
        }

        h4{
          display: none;
        }
      }

      .single-language2{
        position: absolute;
        top: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;

        >img{ height: 50px }
  
        h4{
          font-size: 20px;
          font-weight: 100;
          margin: 0;
          display: none;
        }
      }

      &:hover .single-language2{
        top: 33%;
        
        >img { display: none }

        h4{ display: block }
      }

    }
    }

    #services-container{
    display: flex;
    flex-direction: row;
    gap: 50px;

      .service{
        border: 1px solid var(--c-grey);
        border-radius: 25px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        .service-text{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .service-title{
            width: 85%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            p{
              margin: 0;
              padding: 0;
              font-weight: 100;
              font-size: 16px;
              text-wrap: balance;
            }

            h2{
              margin: 0;
              padding: 0;
              font-weight: 500;
              font-size: 32px;
            }
          }

          .service-cta{
            background-color: var(--c-accent);
            border: none;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37px;
            height: 37px;
            cursor: pointer;

            >img{
              height: 12px;
            }

            &:hover{
              background-color: var(--c-dark);
              border: 1px solid var(--c-light);
            }
          }
        }

        .service-image{
          border-radius: 18px;
          height: 390px;
          width: 100%;
          background-color: var(--c-dark);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          overflow: hidden;

          .service-page-cta{
            h3{
              margin: 0;
            }
          }

          .service-image-cta{
            border-radius: 25px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .5s ease;

            &:hover{
              cursor: pointer;
              transform: scale(1.2);
            }
          }

        }

        &.selected{
          background-color: var(--c-light);
          color: var(--c-dark);

          .service-text{

            .service-cta{
              background-color: var(--c-light);
              border: 1px solid var(--c-dark);
              transition: rotate 0.5 ease;
    
              >img{
                filter: invert(100%);
                rotate: 180deg;
              }
    
              &:hover{
                background-color: var(--c-dark);
    
                >img{
                  filter: invert(0);
                }
              }
            }          
          }

          .service-image{
            img{
              display: none;
            }

            .service-page-container{
              display: flex;
              flex-direction: column;
              gap: 30px;
              padding: 40px 20px;
              color: var(--c-light);

              .service-page-cta{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                padding: 0 5px;

                h3{
                  width: 80%;
                  margin: 0;
                  font-weight:100;
                  font-size: 18px;
                }

                .page-cta{
                  background-color: var(--c-accent);
                  border: none;
                  border-radius: 25px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 37px;
                  height: 37px;
                  cursor: pointer;

                  &:hover{
                    background-color: var(--c-dark);
                    border: 1px solid var(--c-light);
                  }

                  >img{
                    display: block;
                    height: 12px;
                    width: 12px;
                  }
                }
              }
            }
          }

        }

      }
    }

    #cta-container{
    display: flex;
    flex-direction: row;
    gap: 50px;

    #cta1{
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      #game{
        width: 100%;
        border: 1px solid var(--c-grey);
        height: 60%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;

        h3,h4,h5{
          margin: 0;
          padding: 0;
        }

        h3{
          font-weight: 400;
          font-size: 32px;
        }

        #game2{
          height: 160px;
          display: flex;
          flex-direction: row;
          gap: 30px;

          .single-game{
            width: 100%;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 30px;
            padding: 10px 30px;
            background-repeat: no-repeat;
            background-size: cover;

            h5{
              font-weight: 200;
              font-size: 16px;
            }
  
            .game-cta{
              border-radius: 25px;
              border: 1px solid var(--c-light);
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--c-dark);
              cursor: pointer;
            }

            &:hover{
              cursor: pointer;
              background-size: 120%;

              .game-cta{
                background-color: var(--c-accent);
                border:none;
              }
            }

          }

          #carta-alta{
            background-image: url('/assets/carta.webp');
          }
          #morra-cinese{
            background-image: url('/assets/morra.webp');
            background-position: bottom;
          }
        }
      }
    }

    #cta2{
      width: 40%;
      border: 1px solid var(--c-grey);
      border-radius: 25px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      >img{
        width: 40px;
      }

      h4,h3{
        margin: 0;
        padding: 0;
        font-size: 25px;
        text-align: center;
      }

      h4{ font-weight: 100 }

      h3{
        font-weight: 500;
        color: var(--c-light);
        background-color: var(--c-accent);
        border-radius: 25px;
        padding: 20px 30px;
        cursor: pointer;

        &:hover{
          background-color: var(--c-light);
          color: var(--c-dark);
        }
      }

    }
    }
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  main{
    .main-content{

      #top-container{
        flex-direction: column;
        height: 100%;

        #video{
          width: 100%;
          height: 50vh;
        }

        #about{
          flex-direction: row;
          width: 100%;
          height: 100%;
          
          #me{
            width: 40%;
            height: auto;
            flex-direction: column;
            align-items: center;

            >img{
              width: 60%;
            }

            #me-name{
              gap: 15px;
              
              ul#skill{
                li{
                  width: 100%;
                }
              }
            }
          }

          #mission{
            width: 60%;
            height: auto;
            gap: inherit;

            p{
              font-size: 28px;
            }
          }
        }
      }

      #services-container{
        .service{
          &.selected{
            .service-image{
              .service-page-container{  
                .service-page-cta{
                  gap: 20px;
                  padding: 0 5px;
                  h3{
                    font-size: 16px;
                  }
                  .page-cta{
                    width: 30px;
                    height: 30px;
                    >img{
                      height: 10px;
                      width: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  main{
    overflow-x: hidden;
    .main-content{
      width: 100vw;
      padding: 120px 10vw;
      gap: 30px;

      #top-container{
        flex-direction: column;
        height: 100%;
        gap: 30px;

        #video{
          width: 100%;
          height: 40vh;
        }

        #about{
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 30px;
          
          #me{
            width: 100%;
            height: auto;
            flex-direction: row;
            align-items: center;
            padding: 20px;

            >img{
              width: 40%;
            }

            #me-name{
              gap: 15px;

              h1{ font-size: 20px }
              
              ul#skill{
                li{
                  h3{ font-size: 11px }
                  img{ display: none }
                }
              }
            }
          }

          #mission{
            width: 100%;
            height: auto;
            gap: inherit;

            p{
              font-size: 24px;
              text-wrap: balance;
            }

            #marquee-container{
              span{
                font-size: 14px;
              }
            }
          }
        }
      }

      #languages-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8%;
        
        div.language{
          border: 1px solid var(--c-grey);
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 46%;
          height: 70px;
          margin-bottom: 8%;
          overflow: hidden;
          position: relative;
          
          .single-language{
            position: absolute;
            bottom: 34%;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
    
            >img{
              height: 50px;
              display: none;
            }
      
            h4{
              font-size: 20px;
              font-weight: 100;
              margin: 0;
            }
          }
    
          &:hover .single-language{
            bottom: 15%;
            
            >img {
              display: block;
            }
    
            h4{
              display: none;
            }
          }
    
          .single-language2{
            position: absolute;
            top: 14%;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
    
            >img{ height: 50px }
      
            h4{
              font-size: 20px;
              font-weight: 100;
              margin: 0;
              display: none;
            }
          }
    
          &:hover .single-language2{
            top: 33%;
            
            >img { display: none }
    
            h4{ display: block }
          }
    
        }
      }

      #services-container{
        flex-direction: column;
        gap: 30px;
      }

      #cta-container{
        flex-direction: column;
        gap: 30px;
    
        #cta1{
          width: 100%;
          gap: 30px;
    
          #game{
            width: 100%;
    
            #game2{
              height: 300px;
              flex-direction: column;
              gap: 30px;
    
              .single-game{
                height: 100%;
                border-radius: 18px;
              }
            }
          }
        }
    
        #cta2{
          width: 100%;
          border: 1px solid var(--c-grey);
          border-radius: 25px;
          padding: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
    
          >img{
            width: 40px;
          }
    
          h4,h3{
            margin: 0;
            padding: 0;
            font-size: 25px;
            text-align: center;
          }
    
          h4{ font-weight: 100 }
    
          h3{
            font-weight: 500;
            color: var(--c-light);
            background-color: var(--c-accent);
            border-radius: 25px;
            padding: 20px 30px;
            cursor: pointer;
    
            &:hover{
              background-color: var(--c-light);
              color: var(--c-dark);
            }
          }
    
        }
      }
    }
  }
}