<app-nav-bar></app-nav-bar>
<main [ngClass]="{'light-mode': DarkLightModeService.mode === true, 'dark-mode': DarkLightModeService.mode === false}">

  <section class="main-content">

    <div id="top-container">
      <div id="video">
        <video src="/assets/google-deepmind1.mp4"  loop></video>
      </div>
      <div id="about">
        <div id="me">
          <img src="/assets/mauro.png" alt="">
          <div id="me-name">
            <h1>Mauro Altamura</h1>
            <ul id="skill">
              <li>
                <img src="/assets/icon/web-designer.svg" alt="">
                <h3>Web Designer</h3>
              </li>
              <li>
                <img src="/assets/icon/frontend.svg" alt="">
                <h3>Frontend Developer</h3>
              </li>
              <li>
                <img src="/assets/icon/graphic.svg" alt="">
                <h3>Graphic Designer</h3>
              </li>
            </ul>
          </div>
        </div>
        <div id="mission">
          <p>Senior Graphic Designer e Web Developer, specializzato nella creazione di identità visive strategiche per diverse soluzioni digitali. <span class="minus">Credo che un design straordinario inizi con valori comuni, una comunicazione aperta e il rispetto per il pubblico.</span></p>
          <div id="marquee-container">
            <div id="marquee-content">
              <span *ngFor="let word of words">
                {{ word }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span *ngFor="let word of words">
                {{ word }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span *ngFor="let word of words">
                {{ word }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span *ngFor="let word of words">
                {{ word }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="languages-container">
      <div class="language">
        <div class="single-language">
          <img src="/assets/icon/adobe.svg" alt="">
          <h4>Adobe Suite</h4>
        </div>
      </div>
      <div class="language">
        <div class="single-language2">
          <img src="/assets/icon/angular.svg" alt="">
          <h4>Angular</h4>
        </div>
      </div>
      <div class="language">
        <div class="single-language">
          <img src="/assets/icon/nodeJS.svg" alt="">
          <h4>NodeJS</h4>
        </div>
      </div>
      <div class="language">
        <div class="single-language2">
          <img src="/assets/icon/mySQL.svg" alt="">
          <h4>MySQL</h4>
        </div>
      </div>
    </div>

    <div id="services-container">
      <div class="service" [ngClass]="{'selected': selectedService1}">
        <div class="service-text">
          <div class="service-title">
            <p>È la prima volta che mi affaccio al</p>
            <h2>Branding Online</h2>
          </div>
          <div class="service-cta" (click)="onServiceClick(1)">
            <img src="/assets/icon/arrow.svg" alt="">
          </div>
        </div>
        <div class="service-image" (click)="onServiceClick(1)">
          <img class="service-image-cta" src="/assets/service-branding.webp" alt="">
          <div class="service-page-container">
            <div class="service-page-cta">
              <h3>Voglio essere tra i primi risultati su GOOGLE</h3>
              <div class="page-cta" routerLink="/services/seo">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
            <div class="service-page-cta">
              <h3>Ho bisogno di un SITO WEB per la mia attività</h3>
              <div class="page-cta" routerLink="/services/web">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
            <div class="service-page-cta">
              <h3>Ho bisogno di una LANDING PAGE per promuovere il mio prodotto o servizio</h3>
              <div class="page-cta" routerLink="/services/landing-page">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service" [ngClass]="{'selected': selectedService2}">
        <div class="service-text">
          <div class="service-title">
            <p>Sono già più esperto e voglio un</p>
            <h2>Servizio avanzato</h2>
          </div>
          <div class="service-cta" (click)="onServiceClick(2)">
            <img src="/assets/icon/arrow.svg" alt="">
          </div>
        </div>
        <div class="service-image" (click)="onServiceClick(2)">
          <img class="service-image-cta" src="/assets/service-advance.webp" alt="">
          <div class="service-page-container">
            <div class="service-page-cta">
              <h3>Ho bisogno di un BLOG per raccontare la mia storia</h3>
              <div class="page-cta" routerLink="/services/blog">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
            <div class="service-page-cta">
              <h3>Ho bisogno di un E-COMMERCE per vendere i miei prodotti on-line</h3>
              <div class="page-cta" routerLink="/services/e-commerce">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
            <div class="service-page-cta">
              <h3>Ho bisogno di una WEB APP personalizzata per la mia attività</h3>
              <div class="page-cta" routerLink="/services/web-app">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
        </div>
        </div>
       </div>
      <div class="service" [ngClass]="{'selected': selectedService3}">
        <div class="service-text">
          <div class="service-title">
            <p>Voglio differenziarmi con un</p>
            <h2>Design unico</h2>
          </div>
          <div class="service-cta" (click)="onServiceClick(3)">
            <img src="/assets/icon/arrow.svg" alt="">
          </div>
        </div>
        <div class="service-image" id="service-design" (click)="onServiceClick(3)">
          <img class="service-image-cta" src="/assets/service-design.webp" alt="">
          <div class="service-page-container">
            <div class="service-page-cta">
              <h3>Ho bisogno del DESIGN / REDESIGN dell’ interfaccia del mio software / sito web</h3>
              <div class="page-cta" routerLink="/services/design">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>

    <div id="cta-container">
      <div id="cta1">
        <app-weather></app-weather>
        <div id="game">
          <h3>Prova uno dei miei giochi</h3>
          <div id="game2">
            <div id="carta-alta" class="single-game">
              <h5>Carta alta</h5>
              <div class="game-cta">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
            <div id="morra-cinese" class="single-game">
              <h5>Morra Cinese</h5>
              <div class="game-cta">
                <img src="/assets/icon/arrow.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cta2">
        <img src="/assets/icon/calendar.svg" alt="">
        <h4>Hai un progetto in mente?</h4>
        <h3>Organizziamo un'ora di chiacchierata gratuita</h3>
      </div>
    </div>

    <app-footer></app-footer>
    
  </section>

</main>