<app-nav-bar></app-nav-bar>
<main>

  <div class="title-container">
    <div class="tag">
      <h3>service</h3>
      <h3>e-commerce</h3>
    </div>
    <div class="title">
      <h1>Vogli aprire un E-COMMERCE<br>e non so da dove iniziare</h1>
      <h3>L'Importanza del Buon Design, UX e UI</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/e-commerce.jpg" alt="">
  </div>
  
  <div class="box-type">
    <div class="title">
      <h2>Perché il Design del sito è cruciale per il tuo E-commerce?</h2>
    </div>

    <div class="box-type-container">
      <div class="type">
        <div class="type-title">
          <span>1.</span>
          <h3>Prima impressione duratura</h3>
        </div>
        <p>Il design del tuo sito è la prima cosa che i visitatori notano. Un design professionale e accattivante cattura l'attenzione e crea una prima impressione positiva, che è cruciale per mantenere i visitatori sul tuo sito e incoraggiarli a esplorare ulteriormente.</p>
      </div>

      <div class="type">
        <div class="type-title">
          <span>2.</span>
          <h3>Fiducia e Credibilità</h3>
        </div>
        <p>Un sito web ben progettato trasmette professionalità e costruisce fiducia con i tuoi clienti. Un design curato dimostra che sei attento ai dettagli e che sei serio riguardo alla tua attività. I clienti sono più propensi ad acquistare da un sito che appare affidabile e di alta qualità.</p>
      </div>

    </div>

  </div>

  <div class="box-main">
    <div class="title">
      <h2>Perché è importante una Landing Page?</h2>
      <p>Le landing page sono cruciali per il successo delle campagne di marketing per diverse ragioni:</p>
    </div>

    <div class="box-container">

      <div class="box">
        <div class="box-title">
          <h3>Focalizzazione sull'obiettivo</h3>
          <div class="box-icon">
            <img src="/assets/icon/2-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una landing page elimina le distrazioni e si concentra su un singolo obiettivo, come ottenere iscrizioni alla newsletter, raccogliere lead o vendere un prodotto. Questo approccio mirato aumenta le possibilità di conversione.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Miglioramento del Tasso di Conversione</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le landing page permettono di tracciare e analizzare facilmente i risultati delle campagne. Puoi monitorare metriche come il tasso di conversione, il tempo trascorso sulla pagina e il comportamento dei visitatori. Questi dati sono essenziali per capire cosa funziona e cosa no, e per ottimizzare le future campagne.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Misurazione e Analisi delle Performance</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le parole chiave sono i termini che gli utenti digitano nei motori di ricerca. Identificare le parole chiave giuste è il primo passo per una buona strategia SEO.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>A/B Testing</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le landing page sono ideali per l'A/B testing, una pratica che consiste nel creare due versioni della pagina con variazioni in elementi come il testo, le immagini o il layout. Questo ti permette di capire quale versione performa meglio e di implementare le modifiche necessarie per migliorare i risultati.</p>
        </div>
      </div>

      <div class="box end">
        <div class="box-title">
          <h3>Esperienza Utente personalizzata</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Le landing page possono essere personalizzate per diversi segmenti di pubblico. Puoi creare diverse versioni della pagina per diversi gruppi demografici o per diversi canali di marketing, offrendo un'esperienza più rilevante e coinvolgente per ogni visitatore.</p>
        </div>
      </div>

      <div class="box conclusion end">
        <div class="box-title">
          <h3>Conclusioni</h3>
          <div class="box-icon">
            <img src="/assets/icon/4.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>In sintesi, una landing page è uno strumento potente per qualsiasi campagna di marketing. Con un design mirato e ottimizzato, può aumentare significativamente il tasso di conversione e migliorare l'efficacia delle tue strategie di marketing.</p>
        </div>
      </div>

    </div>

    

  </div>

  <div class="cta-parliamone">
    <h2>Hai un'idea interessante e vuoi una mano per costruirla?</h2>
    <h3 routerLink="/contacts">Parliamone!</h3>
  </div>

  <app-footer></app-footer>

</main>