<app-nav-bar></app-nav-bar>
<main>

  <div class="title-container">
    <div class="tag">
      <h3>service</h3>
      <h3>e-commerce</h3>
    </div>
    <div class="title">
      <h1>Vogli aprire un E-COMMERCE<br>e non so da dove iniziare</h1>
      <h3>L'Importanza del Buon Design, UX e UI</h3>
    </div>
  </div>

  <div class="image">
    <img src="/assets/e-commerce.jpg" alt="">
  </div>
  
  <div class="box-type">
    <div class="title">
      <h2>Perché il Design del sito è cruciale per il tuo E-commerce?</h2>
    </div>

    <div class="box-type-container">
      <div class="type">
        <div class="type-title">
          <span>1.</span>
          <h3>Prima impressione duratura</h3>
        </div>
        <p>Il design del tuo sito è la prima cosa che i visitatori notano. Un design professionale e accattivante cattura l'attenzione e crea una prima impressione positiva, che è cruciale per mantenere i visitatori sul tuo sito e incoraggiarli a esplorare ulteriormente.</p>
      </div>

      <div class="type">
        <div class="type-title">
          <span>2.</span>
          <h3>Fiducia e Credibilità</h3>
        </div>
        <p>Un sito web ben progettato trasmette professionalità e costruisce fiducia con i tuoi clienti. Un design curato dimostra che sei attento ai dettagli e che sei serio riguardo alla tua attività. I clienti sono più propensi ad acquistare da un sito che appare affidabile e di alta qualità.</p>
      </div>

    </div>

  </div>

  <div class="box-main">

    <div class="box-container">

      <div class="face-title">
        <h2>L'importanza della UX (User Experience)</h2>
      </div>

      <div class="box box-image">
        <img src="/assets/e-commerce-1.jpg" alt="">
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Navigazione intuitiva</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una buona UX significa che i visitatori possono trovare facilmente ciò che cercano. Una navigazione intuitiva e ben strutturata riduce la frustrazione e rende l'esperienza di shopping piacevole. Questo aumenta le possibilità che i visitatori rimangano più a lungo sul tuo sito e completino un acquisto.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Riduzione del tasso di abbandono del carrello</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Una UX ottimizzata può ridurre significativamente il tasso di abbandono del carrello. Processi di checkout semplici e chiari, opzioni di pagamento flessibili e informazioni trasparenti sui costi di spedizione e resi sono elementi fondamentali per una buona esperienza utente.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Accessibilità e inclusività</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Un design inclusivo che tiene conto delle diverse esigenze degli utenti, come le persone con disabilità, amplia il tuo pubblico potenziale. Assicurati che il tuo sito sia accessibile e conforme agli standard internazionali di accessibilità.</p>
        </div>
      </div>

    </div>

    <div class="box-container">

      <div class="face-title">
        <h2>L'Importanza della UI (User Interface)</h2>
      </div>

      <div class="box box-image">
        <img src="/assets/e-commerce-2.jpg" alt="">
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Estetica Coerente e Attraente</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>La UI riguarda l'aspetto visivo del tuo sito. Un'interfaccia utente ben progettata non solo è esteticamente piacevole, ma anche coerente con il tuo brand. Colori, font, immagini e layout devono essere armonizzati per creare un'esperienza visiva unica e memorabile.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Feedback Visivo</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Elementi di UI come pulsanti, icone e messaggi di feedback aiutano gli utenti a capire cosa sta succedendo sul sito. Un buon design di UI offre un feedback chiaro e immediato, guidando l'utente attraverso il processo di acquisto senza confusione.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Responsive Design</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Assicurati che il tuo e-commerce sia ottimizzato per tutti i dispositivi, dai desktop ai tablet agli smartphone. Un design responsive garantisce che il sito sia facile da usare e bello da vedere indipendentemente dal dispositivo utilizzato dal cliente.</p>
        </div>
      </div>

    </div>

    <div class="box-container">

      <div class="face-title help-title">
        <h2>Come Posso Aiutarti</h2>
        <p>Con la mia vasta esperienza in graphic design, web design e sviluppo, posso offrirti un servizio di altissima qualità che combina estetica, funzionalità e usabilità. Ecco come:</p>
      </div>

      <div class="box box-image">
        <img src="/assets/e-commerce-3.jpg" alt="">
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Design Personalizzato</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-1.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Creerò un design unico che rappresenti al meglio il tuo brand e attragga i tuoi clienti target. Un design personalizzato si distingue dalla concorrenza e offre un'esperienza utente su misura.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Ottimizzazione UX/UI</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-2.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Utilizzerò le migliori pratiche di UX/UI per assicurarmi che il tuo sito sia intuitivo, facile da navigare e visivamente attraente. Ogni elemento del sito sarà progettato per migliorare l'esperienza dell'utente e aumentare le conversioni.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-title">
          <h3>Coerenza del Brand</h3>
          <div class="box-icon">
            <img src="/assets/icon/3-3.svg" alt="">
          </div>
        </div>
        <div class="box-content">
          <p>Garantirò che ogni aspetto del tuo sito, dai colori ai font alle immagini, sia coerente con la tua identità di brand. Questa coerenza è fondamentale per costruire una presenza online forte e riconoscibile.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="cta-parliamone">
    <div class="cta-box">
      <p>In conclusione, un buon design del sito e un'ottima esperienza utente sono fondamentali per il successo del tuo e-commerce. Investire in UX/UI di qualità non solo migliora l'esperienza dei tuoi clienti, ma può anche aumentare significativamente le tue vendite e la fedeltà del cliente.</p>
    </div>

    <div class="cta-box">
      <p>Se sei pronto a creare un e-commerce che unisce estetica e funzionalità, sono qui per aiutarti. Contattami per una consulenza gratuita e scopri come possiamo lavorare insieme per realizzare il tuo negozio online perfetto.</p>
    </div>

    <div class="cta-box">
      <h3 routerLink="/contacts">Parliamone!</h3>
    </div>
  </div>

  <app-footer></app-footer>

</main>